:root {
  --mainGreen: #183a16;
  --mainWhite: rgb(255, 255, 255);
  --mainDark: #010c02;
}
body {
  font-family: 'Lato', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark) !important;
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-red {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: #c1024b !important;
  border-radius: 0 !important;
  border: 0.1rem solid #c1024b !important;
}
.btn-red:hover {
  background: #c1024b !important;
  color: var(--mainWhite) !important;
}
.btn-green {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: #02c168 !important;
  border-radius: 0 !important;
  border: 0.1rem solid #02c168 !important;
}
.btn-green:hover {
  background: #02c168 !important;
  color: var(--mainWhite) !important;
}
.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: #c24802;
}